.git
.gitignore
.next
node_modules
.env*
!.env.example
coverage
dist
Dockerfile*
.dockerignore
README.md
*.tsbuildinfo
.vercel
**/.DS_Store
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
orbis-openapi-processed.json
.legacy
