API_URL=https://scoresaber.com
NEXT_PUBLIC_API_URL=https://scoresaber.com
NEXT_PUBLIC_SITE_URL=https://scoresaber.local
NEXT_PUBLIC_ARCVIEWER_URL=https://watch.scoresaber.com
NEXT_PUBLIC_LUDUS_URL=https://ludus-1.scoresaber.com
