# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.vite-task

# testing
/coverage

# production
/.output

# misc
**/.DS_Store
*.pem

# local env files
.env*
!.env.example.local
!.env.example.prod

# local keys and certs
*.key
*.p12
*.pfx
*.crt
*.cer

# vercel
.vercel

# typescript
*.tsbuildinfo

# generated
/scripts/api/openapi.processed.json
.crowdin-translation-patch
