{
   "useTabs": false,
   "singleQuote": true,
   "trailingComma": "none",
   "printWidth": 150,
   "tabWidth": 3,
   "endOfLine": "crlf",
   "plugins": ["prettier-plugin-svelte"],
   "pluginSearchDirs": ["."],
   "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
