@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --background-color: #202020;

   --background: var(--background-color);
   --foreground: #252525;
   --foregroundItem: #2d2d2d;
   --textColor: #eee;
   --borderColor: #1a1a1a;
   --scoreSaberYellow: #ffde1a;

   --gray: #323232;
   --gray-dark: #2b2b2b;
   --gray-light: #3c3c3c;

   --muted: #848484;

   --ppColour: #8992e8;
   --ppColourDark: #6b76da;
   --alternate: #72a8ff;
   --dimmed: #3e3e3e;
   --transitionTime: 300ms;

   --expert-plus: #8f48db;
   --expert: #bf2a42;
   --hard: tomato;
   --normal: #59b0f4;
   --easy: MediumSeaGreen;

   --panda: #ff03e3;
   --admin: #bfdcf9;
   --qat-head: #ff006f;
   --nat: #0b64f0;
   --rt: #1abc9c;
   --rtr: #11806a;
   --qat: #f70000;
   --dev: #111111;
   --ppv3: #8d4eca;
   --supporter: #f96854;

   --progress-bg: none;
   --track-bg: #57512f;
   --thumb-bg: var(--scoreSaberYellow);

   --success: #23d160;
   --danger: #ff3860;
}

html {
   height: 100%;
   margin: 0;
   overflow: hidden;
}

.section.is-fullwidth.no-padding {
   width: 99vw !important;
}

.root {
   min-height: 100%;
   margin: 0;
   font-family: 'Heebo', sans-serif;
   font-size: 14px;
}

.dynamic-background {
   background: var(--background);
   font-size: 14px;
   background-position: 50% !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -2;

   filter: blur(5px);
   -webkit-filter: blur(5px);
}

.cover {
   position: fixed;
   top: 50vh;

   width: 100%;
   min-height: 100%;
   background: var(--background);

   z-index: -1;
   margin: 0 auto;
}

@media only screen and (max-width: 769px) {
   .cover {
      top: 32vh;
   }
}

.cover::before {
   content: 'bbb';
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23202020%3B' /%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   content: '';
   display: block;
   height: 10em;
   position: absolute;
   width: 100%;
   left: 0;
   top: -10em;
}

.behind-background {
   background: var(--background-color);
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -3;
}

.container {
   max-width: 1050px !important;
}

.page-container {
   width: 100%;
   max-width: 1150px;
   margin: 0 auto;
}

strong {
   color: var(--textColor);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
   color: var(--textColor);
}

.content table thead td,
.content table thead th {
   color: var(--textColor);
}

.title.is-4,
.title.is-5,
.title.is-6 {
   color: var(--textColor);
}

label {
   color: var(--textColor);
}

p {
   color: var(--textColor);
}

a {
   transition: color 300ms;
   color: var(--alternate);
}

a:hover {
   color: var(--scoreSaberYellow);
}

.pp {
   color: var(--ppColour);
   cursor: help;
}

td.centered {
   text-align: center !important;
}

th.centered {
   text-align: center !important;
}

.content table th,
.content table td {
   border: none;
}

div.is-center {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.window {
   display: block;
   margin-bottom: 10px;
   padding: 1.25rem 1.25rem 1.25rem 1.25rem;
   background-color: var(--foreground) !important;
   color: var(--textColor);
   border-radius: 5px;
}

.window-header {
   padding-left: 6px;
   padding-top: 3px;
   border-radius: 3px 3px 0px 0px !important;
   color: var(--textColor);
   background-color: rgb(51, 51, 51);
   height: 32px;
   font-size: large;
   font-weight: 600;
}

.fas.header {
   padding-right: 6px;
}

.window.noheading {
   border-radius: 3px 3px 3px 3px !important;
}

.window.has-shadow {
   box-shadow: 0 0px 6px rgba(0, 0, 0, 0.23), 0 0px 0px rgba(0, 0, 0, 0.18);
}

.button {
   outline: none !important;
   box-shadow: none !important;
   outline-style: none !important;
   background-color: var(--foregroundItem);
   &,
   &:active,
   &:focus {
      color: var(--textColor);
   }
   transition: color var(--transitionTime);
}

.button:disabled {
   background-color: var(--scoreSaberYellow);
   border-color: var(--foreground);
   color: var(--gray);
}

.button:hover:enabled {
   color: var(--scoreSaberYellow);
}

.button:active:enabled {
   transform: translateY(1px);
}

.section {
   padding-top: 30px;
}
.image.rounded {
   border-radius: 50%;
}
.image.is-country {
   cursor: help;
}

.tag.expert-plus {
   background-color: var(--expert-plus) !important;
}

.tag.expert {
   background-color: var(--expert) !important;
}

.tag.hard {
   background-color: var(--hard) !important;
}

.tag.normal {
   background-color: var(--normal) !important;
}

.tag.easy {
   background-color: var(--easy) !important;
}

.has-navbar-fixed-top {
   padding-top: 61px !important;
}

.input,
.textarea,
.select select {
   background-color: var(--gray);
   border-color: var(--gray-dark);
   border-radius: 4px;
   color: #fff;
   box-shadow: none;
   max-width: 100%;
   width: 100%;
}

.input:focus,
.textarea:focus,
.select select:focus,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.is-active.input,
.is-active.textarea,
.select select.is-active {
   border-color: var(--scoreSaberYellow);
   box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.text-muted {
   color: var(--muted);
}

.textarea::-webkit-input-placeholder {
   color: var(--muted);
}

.textarea:-moz-placeholder {
   /* Firefox 18- */
   color: var(--muted);
}

.textarea::-moz-placeholder {
   /* Firefox 19+ */
   color: var(--muted);
}

.textarea:-ms-input-placeholder {
   color: var(--muted);
}

.textarea::placeholder {
   color: var(--muted);
}

.input::-webkit-input-placeholder {
   color: var(--muted);
}

.input:-moz-placeholder {
   /* Firefox 18- */
   color: var(--muted);
}

.input::-moz-placeholder {
   /* Firefox 19+ */
   color: var(--muted);
}

.input:-ms-input-placeholder {
   color: var(--muted);
}

.input::placeholder {
   color: var(--muted);
}

input {
   accent-color: var(--scoreSaberYellow);
}

.checkbox:hover,
.radio:hover {
   color: var(--scoreSaberYellow);
}

hr {
   background-color: var(--gray);
}

.select:not(.is-multiple):not(.is-loading)::after {
   border-color: var(--scoreSaberYellow);
   right: 1.125em;
   z-index: 4;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
   border-color: var(--scoreSaberYellow);
}

.tabs a.selected {
   border-bottom-width: 2px;
   font-weight: 700;
   border-bottom-color: var(--scoreSaberYellow);
   color: var(--scoreSaberYellow);
}

.tabs li > .selected {
   background-color: var(--gray-dark);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.tabs a {
   color: white;
   font-size: 14px;
}
.tabs ul {
   border-bottom-color: var(--dimmed);
}

.tabs a {
   border-bottom-color: var(--muted);
   color: var(--muted);
}

.song-name[title] {
   cursor: help;
}

@media only screen and (max-width: 512px) {
   .section {
      padding-left: 1rem;
      padding-right: 1rem;
   }

   .window {
      padding: 1rem 0.75rem;
   }

   .window-wrap {
      margin: 1rem !important;
   }
}
ins.adsbygoogle[data-ad-status='unfilled'] {
   display: none !important;
}
ins {
   text-decoration: none !important;
}
